/* styles.css */

/* Styling for table rows */
.table-row-cell:even {
    -fx-background-color: #f2f2f2; /* Light gray background for even rows */
}

.table-row-cell:odd {
    -fx-background-color: #e0e0e0; /* Darker gray background for odd rows */
}

.table-row-cell:filled:selected {
    -fx-background-color: #00cc66; /* Green background for filled selected rows */
}

/* Styling for the button */
#switchScene {
    -fx-background-color: #00a8e8; /* Light blue background color */
    -fx-text-fill: white; /* White text color */
    -fx-font-size: 14px;
    -fx-pref-width: 120px; /* Set preferred width for the button */
}
